@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
  background: #333;
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  font-family: 'Roboto', sans-serif;
  color: white;
  overflow: hidden;
}

a, p {
    transition: .5s;
}

main {
  position: absolute;
  top: 50vh;
  text-align: right;
  width: 100%;
}

#line {
  width: 100%;
  border-top: 1px solid #656565;
  position: absolute;
  top: 12px;
  z-index: -1;
}

nav {
  position: absolute;
  text-align: right;
  animation: slide-in 2s;
  right: 0;
}

nav > ul > li {
  display: inline-block;
  /*margin: 0 3vw;*/
  margin: 0 50px;
  /*padding: 0px 5vw;*/
  padding: 0px 60px;
}

nav > ul.foliobuttons > li {
    margin: -70px 10px;
}

nav > ul > li > a{
  font-size: 1.5em;
  font-weight: 300;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 1s;
}

nav > ul > li > a:hover{
  color: grey;
  transition: 1s;
}

nav > ul > li > a > img {
    border-style: none;
    width: 115px;
    display: block;
    margin: auto;
    transition: .75s;
}

nav > ul > li > a > img:hover {
    transform: scale(.9);
    transition: .5s;
}

#illustration {
    width: 140px;
}

h1 {
  display: block;
}

article {
  display: inline-block;
  /*padding: 10vh 20vh;*/
  padding: 100px 175px;
  position: absolute;
  right: 0;
  top: 40px;
  animation: slide-up 2s;
}

article p{
  width: 575px;
  margin: auto;
  line-height: 35px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 10px;
}

footer a{
  color: white;
  text-decoration: none;
}

footer a p:hover{
  color: #999;
  text-decoration: initial;
}

/*************** Key Frames ***************/

@-webkit-keyframes slide-in {
    from {right: -110vw;}
    to {right: 0px;}
}
/* Standard syntax */
@keyframes slide-in {
    from {right: -110vw;}
    to {right: 0px;}
}

@-webkit-keyframes slide-up {
    from {padding-top: 100vh;}
    to {padding-top: 100px;}
}
/* Standard syntax */
@keyframes slide-up {
    from {padding-top:100vh;}
    to {padding-top: 100px;}
}

/************** Responsive ***************/

@media (min-width : 320px) and (max-width : 500px) {
    body {
        background-position: 10%;
    }
    nav > ul {
        text-align: center;
    }

    nav > ul > li {
        padding: 0px 2.8vw;
    }
    nav > ul > li > a {
        font-size: 1.1em;
    }
    article{
        padding: 175px 0px;
    }
    article p {
        width: 90%;
        font-size: .9em;
        line-height: 2em;
    }
}

@media (min-width: 1445px) {
  article {
    /*padding: 10vh 25vh;*/
    }
}
