$primary-color:#db7560;
$secondary-color:#e3e3e3;

* {
  transition: .5s;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
ul {
  list-style-type: none;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
}

p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1 {
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

h4 {
    display: block;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}


.clear {
    clear:both;
    line-height:0;
}

.btn {
    display: block;
    width: 250px;
    margin: auto;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 2px 8px;
    background: #db7560;
    color: #fff;
    font: bold 1.65em 'Source Sans Pro';
    box-shadow: 2px 2px 0px #999;
    transition: .2s;
    cursor:pointer;
    border: none;
    &:hover {
      transform: scale(0.98);
      box-shadow: 1px 1px 1px #999;
      transition: .5s;
    }
  }


#contact h1, #work h1 {
  color: #db7560;
  text-align: center;
  font: normal 3.7em "Oswald", sans-serif;
  padding: 10px;
  text-shadow: 2px 2px #999;
  border-top: 10px solid #e79f91;
  border-bottom: 10px solid #e79f91;
}


.bio {
  line-height: 1.8;
  position: relative;
  top: 25vh;
  margin: auto;
  width: 850px;
  background:#c7cbc7;
  z-index: 3;
  box-shadow: 1px 1px 0px #acacac,
              2px 2px 0px #acacac,
              3px 3px 0px #acacac;
  .curve {
    width: 33%;
    height: auto;
    min-width: 150px;
    float: left;
    margin-right: 2rem;
    border-radius: 50%;
    -webkit-shape-outside: circle();
    shape-outside: circle();
    background: #fff;
    padding: 5px;
    box-shadow: 5px 5px #b7b7b7;
  }
}


.bio > p, #contact > p, #work > p {
    text-align: justify;
    max-width: 750px;
    margin: 15px auto;
    font: 300 2.2em "Oswald";
    color: #fff;
    line-height: 43px;
    text-shadow: 1px 2px #c0c0c0;
}

.bio > ul, #contact > ul, #work > ul {
    text-align: justify;
    max-width: 700px;
    margin: 15px auto;
    font: normal 1.3em $secondary-font;
    list-style-type: disc;
    color: #666;
}

.clearfix {
  content:" ";
  clear: both;
}

.cubez {
    width: 100vw;
    height: 95vh;
    min-height: 650px;
    background-image:url(http://stephenmoye.com/img/cubed-nb.png);
    background-color: #ce705c;
    background-attachment: fixed;
    overflow: hidden;
    margin: 0;
    position: relative;
    top: 0px;
    z-index: 2;
    filter: contrast(1)
            saturate(70%);
}

.bw-cubez {
    width: 100vw;
    min-height: 725px;
    background-image:url(http://stephenmoye.com/img/cubed-bw.png);
    background-color: #aaa;
    background-attachment: fixed;
    overflow: hidden;
    margin: 0;
    position: relative;
    top: 0px;
    z-index: 2;
}



.contact-form h3{
    text-align: center;
    a{
    color: $primary-color;
  }
}

#work {
    background: #ececec;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 50px;
    z-index: 4;
    position: relative;
    h1 {
      display: block;
      width: 100%;
  }
}

#soon {
  background: #999;
  color: white;
  width: 400px;
  font: 2.5em/6em 'Lato';
}

.work-photo {
  padding: 0px;
  margin: 25px 2%;
  width: 400px;
  height: 252px;
}

.work-photo.invisible {
    height: 0px;
}

.social {
    width: 415px;
    padding: 10px;
    margin: auto;

  img {
    width: 75px;
    margin: 10px;
    -webkit-transition: .75s;
    transition: .75s;
    box-shadow: 3px 3px 1px #c7c7c7;
    &:hover{
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
        transition: .5s;
        box-shadow: 1px 1px 0px #c7c7c7;
    }
  }
}


.mywork {
  p {
    padding: 10px 25px;
    text-align: left;
    font: bold 1.2em 'Lato';
    line-height: 1em;
  }
  li {
    background-image: url(../img/bullet.jpg);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    color: #777;
    font: normal 1.1em 'Lato';
    margin: 5px 25px;
    padding: 0px 25px 5px 25px;
    text-align: left;
  }
}

footer {
    display: block;
    position: relative;
    text-align: center;
    background: #777;
    color: #fff;
    font-family: lato;
}

#copyright {
    padding: 5px;
    text-align: right;
    a{
        color:white;
    }
}


@media (max-width: 960px){
    .bio{
        width: 95%;
        p{
            font: 400 1.05em "Lato";
            line-height: 20px;
        }
    }
    .cubez {
        height: 75vh;
        min-height: 525px;
    }

    .work-photo {
        margin: 25px 0;
    }

    .name {
        font-size: 90%;
    }
    
    .social img {
    width: 60px;
    }
}
